body {
  margin: 0;
}

header {
  height: 150px;
  background-image: url('dirt_background.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo {
  height: 60px;
}

body::after {
  content: "";
  position: fixed;
  top: 150px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('dirt_background.png');
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: top center;
  z-index: -1;
}