.Logo{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
body {
  margin: 0;

  background-image: url('dirt_background.png'), url('dirt_background.png');
  background-repeat: no-repeat, repeat-y;

  background-size: 100% auto, 100% auto;

  background-position: top center, bottom center;
}